<div class="row">
  <!--The content below is only a placeholder and can be replaced.-->
  <div style="width: 100%; text-align:center">
    <h1 class="text-info">
      Welcome here!
    </h1>
    <h1>
      This is ng4 test app!
      <br>
      Welcome to {{title}}!
    </h1>
    </div>
  <h2 class="text-center" style="width: 100%">Here is my github: </h2>
  <ul class="text-center"  style="width: 100%; list-style-type: none">
    <li>
      <h2><a target="_blank" href="https://github.com/LeeLiangze?tab=repositories">Github Address</a></h2>
    </li>
  </ul>

</div>
